<h1 class="text-center mb-3" >All members</h1>

<ul class="list-group">
    {{#each members}}
            <li class="list-group-item">
                <p class="p-0 m-0 flex-grow-1">{{this.firstName}} {{lastName}}
                    <button class="btn btn-default btn-sm pull-right remove-item">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </button>
                    <button class="btn btn-default btn-sm pull-right remove-item">
                        <a href="/user/{{this._id}}"><span class="glyphicon glyphicon-user"></span></span></a>
                    </button>
                </p>
                
            </li>
    {{/each}}
</ul>

{{!-- <a href="/api/members" class="btn btn-light mt-4">view in json</a> --}}