<h1 class="text-center mb-3" >Welcome to dball</h1>

<div class="container">
    <p class="text-center"> Hello user, the homepage is still in development. Please be patient.</p>
    
    <iframe src="https://giphy.com/embed/l46CyJmS9KUbokzsI" width="100%" height="100%" frameBorder="10" class="giphy-embed" allowFullScreen></iframe>

</div>

{{!-- <form action="/logout?_method=DELETE" method="post">
 <button type="submit">Logout</button>
</form> --}}